@charset "UTF-8";

.alert {
  position: relative;
  min-height: 55px;
  padding: 15px 20px 20px 50px;
  border: 1px solid transparent;
  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  &.alert-success {
    border-color: #b7eb8f;
    background-color: #f6ffed;
    &::before {
      background-image: url('#{$imageIconPath}/alert_success.svg');
    }
    .alert-title {
      color: #73d529;
    }
  }
  &.alert-info {
    border-color: #5cbefb;
    background-color: #e6f7ff;
    &::before {
      background-image: url('#{$imageIconPath}/alert_info.svg');
    }
    .alert-title {
      color: #5cbefb;
    }
  }
  &.alert-warning {
    border-color: #ffe58f;
    background-color: #fffbe6;
    &::before {
      background-image: url('#{$imageIconPath}/alert_warning.svg');
    }
    .alert-title {
      color: #ffe58f;
    }
  }
  &.alert-error {
    border-color: #f17c70;
    background-color: #fff2f0;
    &::before {
      background-image: url('#{$imageIconPath}/alert_error.svg');
    }
    .alert-title {
      color: #f17c70;
    }
  }
  & + .alert {
    margin-top: 20px;
  }
  .alert-title {
    margin-top: 2px;
    font-size: 18px;
  }
  .alert-desc {
    margin-top: 6px;
    font-size: 15px;
  }
}
