@charset "UTF-8";

.label-group {
  display: flex;
  .label {
    & ~ .label {
      margin-left: 2px;
    }
  }
}
.label {
  display: inline-flex;
  padding: 2px 5px;
  font-size: 12px;
  color: #666;
  border: 1px solid #999;
  background-color: #f7f7f7;
  background-origin: border-box;
  &.type01 {
    border-color: transparent;
    color: #ffffff;
    background-color: #55acee;
  }
  &.type02 {
    border-color: transparent;
    color: #ffffff;
    background-color: #cd201f;
  }
  &.type03 {
    color: #ffffff;
    border-color: transparent;
    background-color: #3b5999;
  }
}
