@charset "UTF-8";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    display: inline-flex;
    min-width: 32px;
    height: 32px;
    border: 1px solid #e4e4e4;
    margin: 2px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
      background-color: #eee;
    }
  }
  > .page {
    font-size: 0;
    color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 18px auto;
  }
  > .prev {
    background-image: url('#{$imageIconPath}/arrow_pagination_prev.png');
  }
  > .next {
    background-image: url('#{$imageIconPath}/arrow_pagination_next.png');
  }
}
