@charset "UTF-8";

.datatable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid #dddbda;
  border-bottom: 1px solid #dddbda;
  th, td {
    padding: 11px 10px;
  }
  thead th {
    background-color: #fafaf9;
  }
  tbody td {
    border-top: 1px solid #dddbda;
  }
  .no-result {
    padding: 20px;
    text-align: center;
  }
  &.striped {
    tbody {
      > tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
      }
    }
  }
}
