---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">badge</h2>
  <p class="doc_summary">UI 요소의 작은 숫자 값 또는 상태 설명자.</p>
  <section class="doc_section">
    <h3 class="doc_h3">사용 시기</h3>
    <ul class="doc_list">
      <li>배지는 일반적으로 눈에 띄는 호소력을 가진 알림 또는 사용자 아바타 가까이에 표시되며, 일반적으로 읽지 않은 메시지 수를 표시합니다.</li>
    </ul>
  </section>
</MainLayout>