---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">data table</h2>
  <p class="doc_summary">데이터 테이블은 행과 열에 걸쳐 데이터 세트를 표시합니다.</p>
  <!-- <section class="doc_section">
    <h3 class="doc_h3">사용 시기</h3>
    <ul class="doc_list">
      <li>준비중</li>
    </ul>
  </section> -->
  <section class="doc_section">
    <h3 class="doc_h3">가로형</h3>
    <div class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
  <textarea class="code_content html ui_code_content"><table class="datatable">
    <caption>테이블 제목</caption>
    <thead>
      <tr>
        <th scope="col">이름</th>
        <th scope="col">나이</th>
        <th scope="col">설명</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>홍길동</td>
        <td>21</td>
        <td>00</td>
      </tr>
      <tr>
        <td>홍길동</td>
        <td>21</td>
        <td>00</td>
      </tr>
      <tr>
        <td>홍길동</td>
        <td>21</td>
        <td>00</td>
      </tr>
    </tbody>
  </table></textarea>
    </div>
  </section>

  <section class="doc_section">
    <h3 class="doc_h3">Stripe형</h3>
    <div class="code_preview">
      <table class="datatable striped">
        <caption></caption>
        <thead>
          <tr>
            <th>이름</th>
            <th>날짜</th>
            <th>가격</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>홍길동</td>
            <td>2022-10-10</td>
            <td class="cell-price">12,000원</td>
          </tr>
          <tr>
            <td>홍길동</td>
            <td>2022-10-10</td>
            <td class="cell-price">12,000원</td>
          </tr>
          <tr>
            <td>홍길동</td>
            <td>2022-10-10</td>
            <td class="cell-price">12,000원</td>
          </tr>
          <tr>
            <td>홍길동</td>
            <td>2022-10-10</td>
            <td class="cell-price">12,000원</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="doc_section">
    <h3 class="doc_h3">데이터 없는 경우</h3>
    <div class="code_preview">
      <table class="datatable">
        <col width="180">
        <col width="auto">
        <col width="auto">
        <thead>
          <tr>
            <th>이름</th>
            <th>나이</th>
            <th>설명</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3">
              <p class="no-result">데이터가 없습니다</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</MainLayout>