---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">components</h2>
  <p class="doc_summary"></p>
  <section class="doc_section">
    <h3 class="doc_h3">CSS </h3>
    <p class="doc_summary">Component에서 사용되는 CSS는 component.css에서 포함되어 있습니다.</p>
    <div class="code_block">
      <textarea class="code_content css ui_code_content"><link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/scss/components.scss"></textarea>
    </div>
  </section>
</MainLayout>