---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">list</h2>
  <p class="doc_summary">준비중</p>
  <section class="doc_section">
    <h3 class="doc_h3">비순차적 목록(disc)</h3>
    <div class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
      <textarea class="code_content html ui_code_content"><ul class="list-group type01">
  <li>대통령의 임기가 만료되는 때에는 임기만료 70일 내지 40일전에 후임자를 선거한다.</li>
  <li>행정각부의 장은 국무위원 중에서 국무총리의 제청으로 대통령이 임명한다.</li>
  <li>국가는 청원에 대하여 심사할 의무를 진다. 국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수 있다.</li>
</ul></textarea>
    </div>
  </section>
  <section class="doc_section">
    <h3 class="doc_h3">비순차적 목록(dash)</h3>
    <div class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
      <textarea class="code_content html ui_code_content"><ul class="list-group type02">
  <li>대통령의 임기가 만료되는 때에는 임기만료 70일 내지 40일전에 후임자를 선거한다.</li>
  <li>행정각부의 장은 국무위원 중에서 국무총리의 제청으로 대통령이 임명한다.</li>
  <li>국가는 청원에 대하여 심사할 의무를 진다. 국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수 있다.</li>
</ul></textarea>
    </div>
  </section>
  <section class="doc_section">
    <h3 class="doc_h3">순차적 목록</h3>
    <div class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
      <textarea class="code_content html ui_code_content"><ol class="list-group type03">
  <li>대통령은 국가의 독립·영토의 보전·국가의 계속성과 헌법을 수호할 책무를 진다.</li>
  <li>국가는 주택개발정책등을 통하여 모든 국민이 쾌적한 주거생활을 할 수 있도록 노력하여야 한다.</li>
</ol></textarea>
    </div>
  </section>

  <section class="doc_section">
    <h3 class="doc_h3">복합형 목록</h3>
    <div class="code_preview">
      <ul class="list-group type01">
        <li>대통령은 국가의 독립·영토의 보전·국가의 계속성과 헌법을 수호할 책무를 진다.</li>
        <li>국가는 주택개발정책등을 통하여 모든 국민이 쾌적한 주거생활을 할 수 있도록 노력하여야 한다.
          <ul class="list-group type02">
            <li>대통령은 국가의 독립·영토의 보전·국가의 계속성과 헌법을 수호할 책무를 진다.</li>
            <li>국가는 주택개발정책등을 통하여 모든 국민이 쾌적한 주거생활을 할 수 있도록 노력하여야 한다.</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</MainLayout>