---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">number input</h2>
  <p class="doc_summary">사용자 정의 증가 버튼이 있는 숫자 입력 필드</p>

  <section class="doc_section">
    <h3 class="doc_h3">기본</h3>
    <div class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
      <textarea class="code_content html ui_code_content"><div class="shopping-cart-group js-quantity-form">
  <button type="button" class="btn-decrement js-btn-decrement"></button>
  <input type="number" value="1" min="1" class="input-text input-counter js-counter">
  <button type="button" class="btn-increment js-btn-increment"></button>
</div></textarea>
    </div>

  </section>
</MainLayout>