---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">pagination</h2>
  <p class="doc_summary">페이지 번호는 콘텐츠 또는 데이터를 여러 페이지로 분할하는 데 사용되며, 다음 페이지 또는 이전 페이지로 이동할 수 있는 컨트롤이 있습니다.
  </p>
  <section class="doc_section">
    <h3 class="doc_h3">기본</h3>

    <section class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
      <textarea class="code_content html ui_code_content"><div class="pagination">
    <a href="" class="page prev">이전 페이지</a>
    <a href="">1</a>
    <a href="" aria-current="page">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <a href="" class="page next">다음 페이지</a>
  </div></textarea>

    </section>
  </section>
</MainLayout>