---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">steps</h2>
  <p class="doc_summary">스텝은 일련의 단계에 대한 사용자의 진행 상황을 시각적으로 표현한 것으로, 사용자가 얼마나 많은 작업을 완료했는지 또는 작업을 완료하기까지 얼마나 남았는지를 나타냅니다. <a href="https://www.uiguideline.com/components/stepper" target="_blank" class="source-link">[출처]</a></p>

  <section class="doc_section">
    <h3 class="doc_h3">기본</h3>
    <section class="code_block">
      <div class="code_preview"></div>
      <div class="code_info"><button class="btn_codecopy ui_btnCodeCopy" data-text-swap="Copy!">Copy to clipboard</button></div>
      <textarea class="code_content html ui_code_content"><ul class="step-group type01">
    <li class="is-finshed">
      <div class="step-item">
        <p>주문</p>
      </div>
    </li>
    <li class="is-finshed">
      <div class="step-item">
        <p>배송</p>
      </div>
    </li>
    <li class="is-actived">
      <div class="step-item">
        <p>지불</p>
      </div>
    </li>
    <li>
      <div class="step-item">
        <p>완료</p>
      </div>
    </li>
  </ul></textarea>
    </section>
  </section>
</MainLayout>