---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">tooltip</h2>
  <p class="doc_summary">준비중</p>

  <section class="doc_section">
    <h3 class="doc_h3">기본</h3>
    <div class="code_preview">
    </div>
  </section>
</MainLayout>
