---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'

// 메타데이터
const title = '프로젝트 현황판'
const  description = '프로젝트 현황판, UI 가이드'
---
<MainLayout {title} {description}>
  <h1>ui guide</h1>
</MainLayout>
