---
export interface Props {
  title: string;
  description: string;
  permalink?: string;
}

const { title, description, permalink } = Astro.props
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<meta name="description" content={description}>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />
<link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/components.css">
<script src="/js/libs/polyfill.min.js" type="module" is:inline></script>
<script src="/js/libs/bliss.js" type="module" is:inline></script>
<script src="/js/libs/jquery.min.js" type="module" is:inline></script>
<script src="/js/libs/codemirror.js" type="module" is:inline></script>
<script src="/js/libs/xml.js" type="module" is:inline></script>
<script src="/js/libs/javascript.js" type="module" is:inline></script>
<script src="/js/libs/css.js" type="module" is:inline></script>
<script src="/js/libs/htmlmixed.js" type="module" is:inline></script>
<script src="/js/uiguide.js" type="module" is:inline></script>
<script src="/js/app.js" type="module" is:inline></script>
