---
// const response = await fetch('');
// const data = await response.json(); 
// const menus = data.results[0]
---
<div id="doc_sidebar">
  <nav class="category">
    <ul class="depth01" id="uiCategory">
        <li>
            <a href="/guide/foundation">foundation</a>
            <ul>
                <li><a href="/guide/foundation/color">color</a></li>
                <li><a href="/guide/foundation/icon">icon</a></li>
                <li><a href="/guide/foundation/typography">typography</a></li>
            </ul>
        </li>
        <li>
            <a href="/guide/components/">components</a>
            <ul>
                <li><a href="/guide/components/accordion">accordion</a></li>
                <li><a href="/guide/components/alert">alert<span class="status">ing</span></a></li>
                <li><a href="/guide/components/auto-complete">auto complete</a></li>
                <li><a href="/guide/components/badge">badge</a></li>
                <li><a href="/guide/components/button">button</a></li>
                <li><a href="/guide/components/checkbox">checkbox<span class="status">ing</span></a></li>
                <li><a href="/guide/components/choice-button">choice button</a></li>
                <li><a href="/guide/components/data-table">data table<span class="status">update</span></a></li>
                <li><a href="/guide/components/form">form<span class="status">ing</span></a></li>
                <li><a href="/guide/components/input">input</a></li>
                <li><a href="/guide/components/labels">labels</a></li>
                <li><a href="/guide/components/list">list</a></li>
                <li><a href="/guide/components/number-input">number input</a></li>
                <li><a href="/guide/components/pagination">pagination</a></li>
                <li><a href="/guide/components/radio">radio<span class="status">ing</span></a></li>
                <li><a href="/guide/components/result">result</a></li>
                <li><a href="/guide/components/slider">slider</a></li>
                <li><a href="/guide/components/steps">steps<span class="status">ing</span></a></li>
                <li><a href="/guide/components/switch">switch</a></li>
                <li><a href="/guide/components/tooltip">tooltip</a></li>
            </ul>
        </li>
        <li>
            <a href="menu03">utilities</a>
            <ul>
                <li><a href="/guide/utilities/box">box</a></li>
                <li><a href="/guide/utilities/grid">grid</a></li>
            </ul>
        </li>
        <li>
            <a href="menu03">page</a>
            <ul>
                <li><a href="/guide/page/general">general page</a></li>
                <li><a href="/guide/page/login">login page</a></li>
            </ul>
        </li>
    </ul>
  </nav>
</div>