---
// Layout Import
import MainLayout from '../../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>

  <h2 class="doc_h2">typography</h2>
  <p class="doc_summary">타이포그래피는 명확한 계층 구조를 만들고 정보를 구성하며 제품이나 경험을 통해 사용자를 안내하는 데 도움이 될 수 있습니다.</p>

  <section class="doc_section">
    <h3 class="doc_h3">Heading Text</h3>
    <div class="doc_headline_list">
      <div class="doc_headline_item">
        <h1 class="head1">H1 Head</h1>
        <p class="doc_font_prop">
          <span class="doc_code_inline">font-family: pretendard</span>
          <span class="doc_code_inline">font-size: 20px</span>
          <span class="doc_code_inline">font-weight: 700</span>
        </p>
      </div>
      <div class="doc_headline_item">
        <h2 class="head2">H2 Headline</h2>
        <p class="doc_font_prop">
          <span class="doc_code_inline">font-family: pretendard</span>
          <span class="doc_code_inline">font-size: 20px</span>
          <span class="doc_code_inline">font-weight: 700</span>
        </p>
      </div>
      <div class="doc_headline_item">
        <h3 class="head3">H3 Headline</h3>
        <p class="doc_font_prop">
          <span class="doc_code_inline">font-family: pretendard</span>
          <span class="doc_code_inline">font-size: 20px</span>
          <span class="doc_code_inline">font-weight: 700</span>
        </p>
      </div>
      <div class="doc_headline_item">
        <h3 class="head4">H4 Headline</h3>
        <p class="doc_font_prop">
          <span class="doc_code_inline">font-family: pretendard</span>
          <span class="doc_code_inline">font-size: 16px</span>
          <span class="doc_code_inline">font-weight: 400</span>
        </p>
      </div>
    </div>
  </section>
  <section class="doc_section">
    <h3 class="doc_h3">Body Text</h3>
    <p class="doc_summary">준비중</p>
  </section>
</MainLayout>