---
// Layout Import
import MainLayout from '../../layouts/MainLayout.astro'

---
<MainLayout 
  title="퍼블리싱 가이드" 
  description={`Hey! This is Astromnl a simple Astro blog template.`}>
  <h2 class="doc_h2">프로젝트 현황판</h2>
  <p class="doc_summary">
    준비중
  </p>
</MainLayout>
