@charset "UTF-8";

html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background-color: #fafafa;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a, a:link {
  color: #666;
}

#doc_container {
  max-width: 1400px;
  height: 100%;
  margin: auto;
}
#doc_header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  .doc_logo a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    text-decoration: none;
  }
  .doc_logo a {
    display: flex;
    width: 220px;
    font-size: 0;
    color: transparent;
    &::before {
      content: '';
      display: flex;
      width: 100%;
      height: 25px;
      background: url('/public/images/logo_component.png') no-repeat 0 50%;
      background-size: 100% auto;
    }
  }
  .login_group {
    display: flex;
    gap: 5px;
    margin-left: auto;
    > a,
    > button {
      padding: 8px 13px;
      border: 0 none;
      border-radius: 100vmin;
      font-size: 12px;
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
      background-color: rgba(0, 172, 150, 1);
      transition: background-color .3s cubic-bezier(0.39, 0.575, 0.565, 1)
    }
    > a:hover {
      background-color: rgb(6, 148, 129);
    }
    > * ~ * {
      margin-left: 2px;
    }
  }
}
.footer {
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  text-align: center;
}

/* 홈 */
.home_page {
  h1 {
    font-size: 44px;
    text-transform: uppercase;
  }
  .home_link {
    display: flex;
    > li {
      display: inline-flex;
      flex: 1;
      justify-content: stretch;
      align-items: stretch;
      > .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        border: 1px solid #888;
        width: 100%;
        line-height: 1.4;
        text-decoration: none;
        > span {
          display: block;
        }
      }
    }
  }
}

/* 현황판 */
.state_board_contents {
  padding-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
.search-filter {
  margin: 20px 0 10px;
  text-align: right;
  input {
    width: 200px;
    height: 30px;
    border: 1px solid #d9d9d9;
    margin-left: 5px;
  }
}
#app {
  padding-top: 20px;
  margin-bottom: 10px;
  table {
    width: 100%;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-collapse: collapse;
    th, td {
      padding: 10px;
      border-top: 1px solid #888;
      font-weight: normal;
    }
    thead {
      th {
        padding: 10px;
      }
    }
    tbody {
      td {
        font-size: 14px;
      }
    }
  }
  tbody .figma,
  tbody .planner,
  tbody .date_01,
  tbody .author
  {text-align:center;}
  tr.disabled td {
    background: #eee;
  } 
  table .screen_id a {display:block;color:rgba(88, 118, 163);}
  table .screen_id a:hover{position:relative;display:block;text-decoration:underline}
  table .screen_id a:hover canvas{position:absolute;top:26px;left:-10px;z-index:10;border:3px solid #000;background: #fff}
  table  .emulator {display:none}
  table tbody tr.complete td {background:#eee}
  table tbody tr.disabled td {color:#eee;background:rgba(88, 118, 163);text-decoration:line-through;}
  table tbody tr.disabled td a {text-decoration:none;}
  table tbody tr.disabled td a {color:#eee;}
  .comment ul li {position:relative;padding-left:15px;line-height:1.3;}
  .comment ul li:before {content:'';position:absolute;top:8px;left:0;width:4px;height:4px;border-radius:50%;background-color:#333;}
  .comment ul li:empty:before {content:none;}

  .mobile_emulator_display {position:absolute;top:10px;left:7px;border:1px solid #999;background:#fff;padding:5px 10px;}
  .mobile_emulator {position:fixed;top:50%;right:20px;background:#fff;border:1px solid #666;border-radius:30px;background:#fff;transform:translateY(-50%);background:#000;display:none;}
  .mobile_emulator .mobile_emulator_inner {padding:20px 15px 20px;border-radius:30px;}
  .mobile_emulator iframe {width:320px;height:550px;border:1px solid #666;background:#fff;}


  .mobile_emulator_on .state_board {margin-right:380px;}
  .mobile_emulator_on .mobile_emulator {display:block}
  .mobile_emulator_on .depth4,
  .mobile_emulator_on .depth5,
  .mobile_emulator_on .planner,
  .mobile_emulator_on .date_01,
  .mobile_emulator_on .comment,
  .mobile_emulator_on .ui_dev
  {display:none;}
  .mobile_emulator_on .emulator
  {display:table-cell;}

  .emulator a {display:block;}


  .state_board {margin:10px;}
  .dataTables_filter {text-align:right;padding-bottom:10px;}
  .dataTables_filter input {
    border:1px solid #999;
    border-radius:0;
    height:28px;
    margin-left: 10px;
  }
  .figma {text-align:center;}
  .figma a {
    display:inline-block;
    width:30px;
    height:30px;
    font-size:0;
    color:rgba(0,0,0,0);
  }
  .figma :empty {display:none;}
  .figma a:not(:empty) {
    vertical-align:top;
    background:url('/images/figma_logo.svg');
    background-size:100%;
  }
}
table .screenid,
table .author,
table .designid {
  text-align: center;
}
table tbody .screenid a {
  display: inline-block;
  padding: 5px 10px;
}
td .doc_logo {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 0;
  background: url('figma-logo.png') no-repeat 50% 50%;
  background-size: 100% auto;
}

/* UI 가이드 */
.doc_guide_summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
  > li {
    &::before {
      content: '';
      display: block;
      height: 200px;
      margin-bottom: 15px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
    }
    &.foundation {
      &::before {
        background-image: url('../../public/images/guide_foundation.jpg');
      }
    }
    &.component {
      &::before {
        background-image: url('../../public/images/guide_component.jpg');
      }
    }
    &.page {
      &::before {
        background-image: url('../../public/images/guide_page.jpg');
      }
    }
  }
  .doc_icon_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  .doc_icon_img img {
    width: 50%;
    opacity: .7;
  }
  .doc_desc {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, .9);
    text-transform: capitalize;
  }
}

.doc_visual {
  height: 300px;
  background: url('/images/icon/undraw_team_collaboration.svg') no-repeat 50% 0;
  background-size: auto 100%;
}

#doc_guide_page #doc_main {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: calc(100% - 140px);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
#doc_sidebar {
  overflow: auto;
  position: sticky;
  top: 0;
  left: 0;
  height: calc(100vh - 50px);
  padding: 20px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  &.is-fixed {
    height: 100vh;
  }
}
.category {
  text-transform: capitalize;
  a, strong {
    display: block;
    font-size: 18px;
    color: rgba(23, 23, 23, 1);
    text-decoration: none;
  }
}

.category {
  > ul {
    > li {
      &:not(:first-child) {
        margin-top: 20px;
      }
      > a, > strong {
        padding: 6px 20px 6px;
      }
      ul {
        margin-top: 5px;
      }
      li {
        padding: 0 10px;
        a {
          padding: 9px 10px;
          border-radius: 4px;
          font-size: 14px;
          color: rgba(102, 102, 102, 1);
          transition: background-color .3s ease-in;
          > .status {
            padding: 1px 5px;
            border-radius: 3px;
            margin-left: 4px;
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #dcdcdc;
          }
          &:hover {
            background-color: rgba(242, 242, 242, 1);
          }
        }
      }
    }
  }
}

.doc_h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: #222;
  text-transform: capitalize;
}
#doc_contents {
  padding: 40px;
  > .doc_summary {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.09);
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    color: #222;
  }
  .source-link {
    font-size: 14px;
  }
}
.doc_section {
  margin: 50px 0 25px;
}
.doc_h3 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 22px;
  color: #222;
  &+p {
    margin-bottom: 10px;
  }
}
#doc_footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid rgba(0,0,0,.09);
  background-color: #fff;
}


.doc_code_container {
  display: block;
  overflow-y: hidden;
  * {
    font-size: 14px;
  }
}

.doc_list {
  margin-bottom: 15px;
  li {
    position: relative;
    padding-left: 10px;
    font-size: 15px;
    line-height: 1.5;
    &:not(:first-child) {
      margin-top: 4px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }
}

.doc_datatable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  th, td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
  }
  thead {
    th {
      color: #444444;
      background-color: #f7f3f3;
    }
  }
  tbody {
    th, td {
      line-height: 1.5;
    }
    th {
      text-align: left;
    }
    .doc_cell_center {
      text-align: center;
    }
  }
}

.doc_code_inline {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 0.125rem;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #09789d;
  background: rgb(242, 244, 245);
  white-space: pre;
}
.code_preview {
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  &~.code_info {
    border-top: 0 none;
  }
  .doc_radio_group {
    width: 300px;
  }
}
.code_info {
  position:relative;
  height:0;
  .btn_codecopy {
    position:absolute;
    top:0;
    right:0;
    z-index:10;
    width:34px;
    height:34px;
    border: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding:7px;
    box-shadow: -2px 2px 0 0 rgba(0, 0, 0, 0.08);
    font-size:0;
    text-align:center;
    background: url('/images/icon/code_copy.svg') no-repeat 50% 50%;
    background-size: 80% auto;
    &.active {
      background-image: url('/images/icon/code_check.svg');
      background-size: 50% auto;
    }
  }
}

.doc_radio_group {
  display: flex;
  margin-bottom: 20px;
}
.doc_radio_item {
  position: relative;
  flex: 1;
  & ~ .doc_radio_item {
    margin-left: -1px;
  }
  input {
    position: absolute;
    opacity: 0;
    &:checked {
      & + label {
        position: relative;
        z-index: 5;
        color:rgb(24, 144, 255);
        border-color:rgb(24, 144, 255);
      }
    }
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border: 1px solid #e4e4e4;
  }
}

/**********
Foundation
**********/

/* Color */
.color-primary {
  background-color: red;
}
.color-base {
  background-color: #000;
}
.color-etc {
  background-color: #e4e4e4;
}
.doc_color_item {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #eee;
}

.color_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > li {
    width: 30%;
    .color_item {
      height: 80px;
    }
  }
}
.doc_icon_list {
  display: flex;
  flex-wrap: wrap;
  > li {
    width: 14%;
    padding: 10px;
    margin-left: 1%;
    &:nth-child(6n + 1) {
      margin-left: 0;
    }
    .icon_img img {
      max-width: 100%;
    }
    .icon_name {
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.doc_input_modifier_wrap {
  display: flex;

}
.doc_input_modifier_wrap {
  .code_preview {
    flex: 1;
    width: 100%;
  }
  .doc_input_modifiers {
    width: 150px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.09);
    border-left: 0 none;
    margin-left: auto;
  }
}

.doc_clear {
  width: 100%;
  border: 0 none;
  margin: 5px 0;
}

// Foundation
.doc_headline_list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  .doc_headline_item {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .doc_font_prop {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      span {
        padding: 5px 10px;
        &:not(:first-child) {
          margin-left: 4px;
        }
      }
    }
  }
}

// CodeMirror
.CodeMirror {
  position: relative;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 15px;
}
.code_info ~ .CodeMirror {
  border-top: 0 none;
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line span {
  font-size: 14px;
  font-family: D2Coding, sans-serif;
}
.CodeMirror pre.CodeMirror-line {
  line-height: 1.5;
}
.CodeMirror pre.CodeMirror-line > span {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.cm-tag {color:#c92c2c;}
.cm-attribute {color: #2f9c0a !important;}
.cm-s-default .cm-string {
  color: #1990b8 !important;
}
.cm-property {color: #905;}
.cm-s-default .cm-qualifier {color: #690;}
.cm-s-default .cm-comment {color: #647281;}
