---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import Footer from '../components/Footer.astro'
import StatusHead from '../components/StatusHead.astro'

const { title, description, head } = Astro.props;
---
<html lang="ko">
  <head>
    <StatusHead title={title} description={description} />
  </head>
  <body id="doc_guide_page">
    <div id="doc_container">
      <Header/>
      <main class="state_board_contents">
        <slot />
      </main>
      <Footer />
    </div>
    <script src="/js/status.js" type="module" is:inline></script>
  </body>
</html>
