---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import Footer from '../components/Footer.astro'
import MainHead from '../components/MainHead.astro'

const { title, description, head } = Astro.props;
---
<html lang="ko">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body id="doc_guide_page">
    <div id="doc_container">
      <Header/>
      <main id="doc_main" class="container content">
        <Sidebar/>
        <div id="doc_contents">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
